<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Облачные вычисления</title>
        <!-- Bootstrap CSS file -->
        <link rel="stylesheet" href="{{bootstrap_css}}">
    </head>
    <body>