body {
    background-color: lightgray;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url(../../public/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.card-gradient {
    background: linear-gradient(to right, #b2fefa, #0ed2f7);
    border-style: none !important;
}

.solaire-system {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url(../../public/images/systeme-solaire-planetes-espace.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.offset-planets {
    margin-top: 50px !important;
}

.planet-size {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.footer {
    flex: 0 0 auto;
}

.space {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url(../../public/images/space.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}